:root {
  --light: #FAF8F8;
  --dark: #141021;
  --secondary: #F28482;    /* Soft Pink */
  --tertiary: #F5DFAF;     /* Light Peach */
  --visited: #AFBFC9;
  --primary: #F28482;      /* Soft Pink */
  --gray: #4E4E4E;
  --lightgray: #F0F0F0;
  --outlinegray: #DADADA;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #F5DFAF88;
}

[saved-theme="dark"] {
  --light: #1E1E21 !important;
  --dark: #FBFFFE !important;
  --secondary: #F28482 !important;    /* Soft Pink */
  --visited: #4A575E !important;
  --tertiary: #F5DFAF !important;     /* Light Peach */
  --primary: #F28482 !important;      /* Soft Pink */
  --gray: #D4D4D4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}
